
button {
    width: 150px;
    padding: 0!important;
}

#pcontent, #cbuttons{
    display:none;
}
#cbuttons{
    float:right;
}
#export{
    display:none;
}
#sitelink{
    display:none;
}

#importLabel {
    text-align: center;
}

h4{
    display:inline-block;
}

.eventSite{
    max-width: 300px;
    overflow-wrap: break-word;
}