
button {
    width: 150px;
    padding: 0!important;
}

#pcontent, #cbuttons{
    display:none;
}

#export{
    display:none;
}
#sitelink{
    display:none;
}

.visited{
    display:none;
}

.green-row{
    background: lightgreen;
}

.red-row{
    background: lightsalmon;
}